<!doctype html><html lang="en"><head><meta charset="utf-8"><title>CHAT APP NODE - LOGIN</title><meta name="description" content="Twitter Sentiment Analyzer"><meta name="Jasmine" content="SitePoint"><link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<!--BOOTSTRAP-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/styles.css" />
<!-- 	<script>
		$( document ).ready(function() {
			$("#login").click(function(e) {
				e.preventDefault()
				console.log(e);
				alert( "trying to login!" );
				// $("#error").show();
				alert("jquery");
					// $("#error").addClass("addPadding");
				});
		});

	</script> -->
<!--    <script>
		$( document ).ready(function() {
			// alert( "SAMPLE" );
		  $("#error").removeClass("errorStyle");
			$.ajax({
				url: '/user/login',
				data: $('form').serialize(),
				type: 'POST',
				success: function(data) {
					console.log("data: " + data);
							 $("#login").click(function(e) {
						alert( "Handler for .submit() called." );
						$(".errorMsg").addClass("errorStyle");
						$(".errorMsg").append(data);
						e.preventDefault();
					});
				},
				error: function(error) {
					 console.log(error);
				}
			});
			// $("#error").hide();

			// $("#login").click(function(e) {
			//    e.preventDefault()
			//    console.log(e);
			//    alert( "trying to login!" );
			//    $("#error").show();
			//    // $("#error").addClass("errorStyle");
			//    // $('error').css('background-color','red');
			// });

			// $("#login").click(function(e) {
			//    alert( "Handler for .submit() called." );
			//    $(".errorMsg").addClass("errorStyle");
			//    $(".errorMsg").append("errorStyle");
			//    e.preventDefault();
			// });

			// $("#login").submit(function( event ) {
			//    alert( "Handler for .submit() called." );
			//   event.preventDefault();
			// });
		});
		</script> -->
	 <!-- <link rel="stylesheet" href="static/styles.css?v=1.0"> -->
</head>
<body class = "container-fluid">
	<div id="menu" class="navbar navbar-default fixed-top">
		<div class="container-fluid">
			<a href=#mainContent class="menu-item">^</a>
			<a href="/" class="menu-item" id="homepage-button" >CHAT APP - NODE</a>
			<form action="/user/register">
				<input style=" padding: 10px; background-color: #008CBA; color: white; font-weight: bold; border-color: darkgrey; border-width: 3px;" type="submit" value="REGISTER">
				</form>
			</div>
		</div>
		<div id="mainContent" style="padding-top: 30px; padding-bottom: 30px;">
			<div class = "container-fluid" id="title" style="padding-bottom: 50px;">
				<a href="/">
					<img src="https://www.tuttirouge.com/wp-content/uploads/2017/10/Tash-Bitmoji.png" alt="Bitmoji Hi" style="height:100px; width: 100px; margin-left: 50%; margin-right: 50%;">
					</a>
					<!-- <h1 style="color: black;">USER HTML</h1> -->
				</div>
				<div align="center">
					<h2>Log In:</h2>
					<h3 class="errorMsg" id="error"><%= loginError%></h3>
					<form method='POST' action="/user/login">
						<div>Username: 
							<input name="username" style=" padding: 10px; padding-left: 2%; padding-right: 2%; border-color: darkgrey">
							</div>
							<div>Password: 
								<input name="pword" style=" padding: 10px; padding-left: 2%; padding-right: 2%; border-color: darkgrey">
								</div>
								<div></div>
								<input style=" padding: 10px; margin-top: 10px; background-color: #008CBA; color: white; font-weight: bold; border-color: darkgrey; border-width: 3px;" type="submit" value="LOG IN" id="login">
								</form>
								<div style="padding: 50px"></div>
							</div>
							<!--main content -->
						</body>
						<!--container -->
					</html>